################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Release
/obj
/.vs
/bin/Debug
/bin/x64/Release
